<ion-view title="'Chat'" left-buttons="leftButtons">
	<ion-content has-header="true" padding="true">
		<ion-list option-buttons="itemButtons"
				  can-swipe="false"
				  ng-show="messages">

			<ion-item ng-repeat="message in messages | orderByPriority"
					  item="item"
					  can-swipe="false">
				<p>{{ message.text }}</p>
			</ion-item>

			<form>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Your Message</span>
					<input type="text"
						   placeholder="something on your mind?"
						   ng-model="newMessage" />
				</label>

				<button type="submit" class="button button-block button-calm" ng-click="addMessage()">send</button>
			</form>
		</ion-list>
	</ion-content>
</ion-view>
