<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-nav-bar type="bar-dark"
                 back-button-type="button-icon"
                 back-button-icon="ion-ios7-arrow-back">
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-pane> 
  
  <ion-side-menu side="left">
    <header class="bar bar-header bar-dark">
      <div class="title">
        <img src="/icon/icon_19806.svg" onerror="this.onerror=null; this.src='/icon/icon_19806.png'" alt="The Krakn" style="width: 30px;">
        <span id="app-name">krakn</span>
      </div>
    </header>
    <ion-content has-header="true">
      <ul class="list">
        <a href="#/krakn/home" class="item" ng-click="toggleMenu()">home</a>
        <a href="#/krakn/chat" class="item" ng-click="toggleMenu()">chat</a>
        <a href="#/krakn/login" class="item" ng-click="toggleMenu()" ng-show-auth="['logout','error']">login</a>
        <a href="#/krakn/account" class="item" ng-click="toggleMenu()" ng-show-auth="'login'">account</a>
      </ul>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>